.friend-rec-box {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: fit-content;
}

h3 {
    margin-bottom: 8px;
}
.rec {
    margin-bottom: 4px;
}

@media screen and (max-width: 1200px) {
    .friend-rec-box {
        display: none;
    }
  }